.container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    height: 100vh; 
    padding: 20px;
    box-sizing: border-box;
}

.section {
    background-color: #ff6347; 
    color: rgb(255, 0, 212);
    padding: 20px;
    width: 20%;
    text-align: center;

}

@media (max-width: 600px) {
    .container {
        flex-direction: column; 
    }

    .section {
        width: 90%; 
        margin-bottom: 150px; 
    }
}