body {
    background-color: lightblue;
}
h1 {
    font-size: 50px;
}
p {
    font-size: 18px;
}
@media (max-width: 800px) {
    body {
        background-color: lightcoral; 
    }

    h1 {
        font-size: 35px; 
    }

    p {
        font-size: 20px; 
    }
}

@media (max-width: 600px) {
    body {
        background-color: lightgreen; 
    }

    h1 {
        font-size: 20px; 
    }

    p {
        font-size: 10px; 
    }
}